extends ../main.layout.pug

block variables
  - var title = 'Обо мне'
  - var modMaincontent = 'about__maincontent'

block scripts
  script(src='about.bundle.js')
  script.
    function initMap() {
      var coordinates = {lat: 47.221749, lng: 39.710960};
      var styles = [
        {
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#bdbdbd"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "poi.business",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dadada"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#4e8839"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        }
      ]
    
      var map = new google.maps.Map(document.getElementById('map'), {
          center: coordinates,
          zoom: 17
      });

      var image = "./assets/images/map_marker.png"

      var marker = new google.maps.Marker({
            position: {lat: 47.222855, lng: 39.715060},
            map: map,
            animation: google.maps.Animation.BOUNCE,
            icon: image
      });

      map.setOptions({styles: styles});
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYoYXcSsrozlv3Q98qFHKiR0S-1xIEAX4&callback=initMap" async defer)

block content
  +hero('about')
  section.about#about
    .about-left
      +icon('triangle_left', 'triangle about-left__triangle about-left__triangle--left')
      +icon('triangle_right', 'triangle about-left__triangle about-left__triangle--right')
      .about-left__container
        .about-left__title-block
            h2.block-title.about-left__title Обо мне
            +icon('about_header', 'about-left__title-svg')
        .about-left__content
          .about-left__pic-wrap
            +image('avatars/my-avatar.jpg', 'Мое фото', 'about-left__image')
          .about-left__description
            h3.about-left__subtitle.block-subtitle Кто я
            .about-left__description-text
              p Я веб разработчик из Ростовa-на-Дону. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about-right
      +icon('triangle_right', 'triangle about-right__triangle')
      h2.block-subtitle.about-right__title Чем я могу быть вам полезен
      .about-right__description
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about-right__content
        #skills-container
        
  section.map
    #map
    .map__data
      .contacts
        h3.block-subtitle.contacts__title Контакты
        address.contacts__data
          ul.contacts__list
            -
              var contacts = [
                ['skype', 'saymon.161'],
                ['envelope2', 'msayfutdinov@gmail.com'],
                ['phone2', '+7 (909) 421-21-21'],
                ['map_marker', 'г.Ростов-на-Дону, пер. Газетный, 47Б']
              ]

            each item in contacts
              li.contacts__item
                .contacts__icon
                  +icon(item[0], 'contacts__icon-svg')
                .contacts__text #{item[1]}
