extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  include ../common/hero
  section.about
    .about-right
      +icon('triangle_left', 'about-right__triangle')
      .about-right__title-block
        .about-right__title
          h2.block__title Обо мне
        .about-right__title-svg
          +icon('about_header', 'about-right__svg')
      .about-rught__content
        .about-right__pic-wrap
          img.about-right__pic
        .about-right__description
          .about-right__description-title
            h3.block__subtitle Кто я
          .about-right__.about-right__description-text
            p Я веб разработчик из Ростов-на-Дону. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about-left
      .about-left__title
        h2.block__title Чем я могу быть вам полезен
  .map
  footer.footer