extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var modMaincontent = 'blog__maincontent'

block scripts
  script(src='blog.bundle.js')

block content
  +hero('blog-hero')
  section.blog
    +icon('triangle_left', 'triangle triangle--twoside triangle--left')
    +icon('triangle_right', 'triangle triangle--twoside triangle--right')
    .blog__content
      #blog-app