extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var modMaincontent = 'blog__maincontent'

block scripts
  script(src='blog.bundle.js')

block content
  +hero('blog-hero')
  section.blog
    +icon('triangle_left', 'triangle triangle--twoside triangle--left')
    +icon('triangle_right', 'triangle triangle--twoside triangle--right')
    .blog__content
      .container.blog__container
        aside.blog__aside-menu
          ul.blog__list
            li.blog__item.blog__item--active Самое важное в SASS
            li.blog__item.blog__item--active Приёмы в вёрстке, без которых не обходится ни один сайт
            li.blog__item Самый необходимый набор Gulp плагинов
            li.blog__item Почему я выбрал Jade
        section.blog__articles
          article.article
            h2 Самое важное в SASS
            span 22 ноября 2016
            div 
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              img(src="./assets/images/userfiles/snippet.jpg", alt="Snippet")
          article.article
            h2 Приёмы в вёрстке, без которых не обходится ни один сайт
            span 13 ноября 2016
            div
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.