extends ../auth.layout.pug

block content
  .wrapper
    .maincontent
      .container
        .developer
          .avatar
            .avatar__pic-wrap
              img(src="./assets/images/avatars/my-avatar.jpg", alt="Марат Сайфутдинов").avatar__img
          h1.developer__title Марат Сайфутдинов
          p.developer__text Личный сайт разработчика
        