extends ../main.layout.pug

block variables
  - var title = 'Мои работы'
  - var modMaincontent = 'works__maincontent'

block scripts
  script(src='works.bundle.js')

block content
  +hero('works')
  section.works#works
    +icon('triangle_left', 'triangle triangle--twoside triangle--left works__triangle')
    +icon('triangle_right', 'triangle triangle--twoside triangle--right works__triangle')
    .works__content
      .works__title-block
          h1.block-title.works__title Мои работы
          +icon('works_header', 'works__title-svg')
      #slider-component
  section.feedback
    .feedback__title-block
      h1.block-title.review__title что обо мне говорят
      +icon('about_header', 'works__title-svg')
    .feedback__content
      .container.feedback__container
        .review
          .review__content
            .review__avatar
              img(src="./assets/images/userfiles/dkoval.jpg", alt="Дмитрий Ковальчук")
            blockquote.review__blockquote
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              div
                strong Ковальчук Дмитрий
                br
                | — основатель Loftschool
          .review__content
            .review__avatar
              img(src="./assets/images/userfiles/vsaban.jpg", alt="Владимир Сабанцев")
            blockquote.blockquote.review__blockquote
              p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              div
                strong Владимир Сабанцев
                br
                | — преподаватель
        .message#message
          form.message__form(action="")
            h2.message__title.block-subtitle Связаться со мной
            .message__input-wrap
              input(v-model="name" type="text" class= "message__input" placeholder = "Имя" id = "username" name = "username")
              transition(name="error")        
                .error.message__error(v-if="!validName") {{ errorText }}
            .message__input-wrap            
              input(v-model="email" type="text" class= "message__input" placeholder = "Email" id = "email" name = "email")
              transition(name="error")
                .error.message__error(v-if="!validEmail") {{ errorText }}
            textarea(v-model="message" name="message", cols="30", rows="10" class= "message__textarea" placeholder = "Ваше сообщение")
            .message__form-row
              button(type = "submit" class = "message__btn" @click.prevent="submit") Отправить
              button(type = "reset" class = "message__btn") Очистить
        a.feedback__arrow-up.arrow-scroll__link(href = "#works")
          +icon('portf_arrow_up', 'feedback__arrow-up-svg')

