script(type="text/x-template")#slider
  .slider
    info(
      :work="currentWork"
      )
    display(
      :work="currentWork"
      )
    buttons(
      :works="works"
      :currentSlide="currentSlide"
      @slide="handleSlide"
      )
  
script(type="text/x-template")#slider__info
  .slider__info
    h2.slider__title.block-subtitle {{work.title}}
    span.slider__skills {{work.skills}}
    a.slider__info-btn(:href="work.link" target="_blank")
      +icon('link', 'slider__info-btn-svg')
      span.slider__info-btn-text Посмотреть сайт

script(type="text/x-template")#slider__display
  .slider__display
    .slider__pic-wrap
      img(:src="work.photo", :alt="work.title").slider__big-pic
  
script(type="text/x-template")#slider__buttons
  .slider__buttons
    .slider__container
      a.slider__prev.slider__btn(href="#" @click.prevent="slide('prev')")
        +icon('portf_arrow_down', 'slider__prev-svg')
      .slider__pic-wrap
        img(:src="getSlide('prev').photo", alt="getSlide('prev').title").slider__small-pic
    .slider__container
      a.slider__next.slider__btn(href="#" @click.prevent="slide('next')")
        +icon('portf_arrow_up', 'slider__next-svg')
      .slider__pic-wrap
        img(:src="getSlide('next').photo", alt="getSlide('next').title").slider__small-pic
