.user
  .blog-user__avatar
    .blog-user__pic-wrap
      +image('avatars/my-avatar.jpg', 'Фото владельца', 'user__img')
  h1.user__blog-title.block-title Блог
  p.user__blog-text Статьи, которые я написал