.fullscreen-menu#fullscreen-menu(:class="{'fullscreen-menu--active' : changed}")
  button(type="button" @click="changed = !changed" class="hamburger hamburger--vortex" :class="{'is-active' : changed}")
    span.hamburger-box
      span.hamburger-inner
  .fullscreen-menu__container
    .fullscreen-menu__right
    .fullscreen-menu__left
    ul.fullscreen-menu__list
      - var menu = [["Мои работы", "my-works.html"], ["Обо мне", "about.html"], ["Блог", "blog.html"], ["Авторизация", "index.html"]]
      each item in menu
        li.fullscreen-menu__item
          a(href=item[1]).fullscreen-menu__item-link
            h2.block-title.menu__item-title= item[0]