mixin hero(modHero)
  header.header(class= modHero === 'blog-hero' ? 'blog__header' : '')
    picture(class= modHero === 'blog-hero' ? 'blog__header-picture' : 'header__picture')
      source(media="(-webkit-min-device-pixel-ratio: 1.5, min-resolution: 144dpi)", srcset="./assets/images/index/water.jpg" class= modHero === 'blog-hero' ? 'blog__header-img' : 'header__img')
      source(media="(min-width: 1920px)", srcset="./assets/images/header/water-min.jpg" class= modHero === 'blog-hero' ? 'blog__header-img' : 'header__img')
      source(media="(min-width: 769px)", srcset="./assets/images/header/water-1920.jpg" class= modHero === 'blog-hero' ? 'blog__header-img' : 'header__img')
      source(media="(min-width: 426px)", srcset="./assets/images/header/water-768.jpg" class= modHero === 'blog-hero' ? 'blog__header-img' : 'header__img')
      img(src="./assets/images/header/water-425.jpg" class= modHero === 'blog-hero' ? 'blog__header-img' : 'header__img')
    .header__content
      .container(class= modHero === 'blog-hero' ? 'blog__header-container' : 'header__container')
        .header__left
          +socials('header__socials')
      section.hero
        .container.hero__container
          .hero__content
            .hero__user
              if modHero == 'blog-hero'
                include ../common/blog-user
              else
                include ../common/user
            .hero__title
              if modHero == 'blog-hero'
                +icon('blog_header', 'hero__title-svg')
              else
                +icon('portfolio_header', 'hero__title-svg')
          a.hero__link(class= modHero === 'blog-hero' ? 'hero__blog-link' : '', href = '#')
            +icon('arrow_down', 'hero__arrow-down-svg')