include ./common/_mixins
include ./common/variables
include ./common/socials
include ./common/header
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
  body
    include ./common/preloader
    .wrapper
      .maincontent(class = modMaincontent)
        block content

      include ./common/footer
      include ./common/fullscreen-menu

    include ./components/entry


    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts
