.about-right {
  width: 50%;
  background: $white;
  position: relative;
  padding-left: 38px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    width: 100%;
    padding-top: 45px;
  }

  @include mobileL {
    padding: 0 10px;
  }
}

.about-right__triangle {
  fill: $white;
  left: 0;
  width: 100%;

  @include tablets {
    display: none;
  }
}

.about-left__triangle--left {
  @include tablets {
    width: 50%;
    left: 0;
  }
}

.about-left__triangle--right {
  display: none;
  @include tablets {
    display: block;
    width: 50%;
    right: 0;
  }
}

.about-right__title {
  width: 300px;
  margin-bottom: 27px;
  padding-right: 45px;
  line-height: 1.2;
  &:after {
    margin-top: 20px;

    @include tablets {
      margin-top: 10px;
    }
  }

  @include tablets {
    margin-bottom: 20px;
  }
}

.about-right__description {
  margin-bottom: 50px;

  @include tablets {
    width: 70%;
  }
}

.about-right__content {
  align-self: flex-start;

  @include tablets {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}