.about-right {
  width: 50%;
  background: $white;
  position: relative;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    width: 100%;
    padding-top: 20px;
  }

  @include mobileL {
    padding-left: 0;
  }
}

.about-right__triangle {
  fill: $white;
  left: 0;
  width: 100%;

  @include tablets {
    display: none;
  }
}

.about-left__triangle--left {
  @include tablets {
    width: 50%;
    left: 0;
  }
}

.about-left__triangle--right {
  display: none;
  @include tablets {
    display: block;
    width: 50%;
    right: 0;
  }
}

.about-right__title {
  width: 260px;
  margin-bottom: 20px;
}

.about-right__description {
  margin-bottom: 30px;
}

.about-right__content {
  align-self: flex-start;

  @include tablets {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}