
.about-left {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: $beige;
  position: relative;
  @include tablets {
    width: 100%;
    padding-top: 30px;
  }
  @include mobileL {
    padding: 0 10px;
  }
}

.about-left__container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-right: 3%;
  
  @include laptopL {
    flex-direction: column;
    padding-right: 5%;
  }

  @include tablets {
    width: 62%;
    padding-right: 0;
  }

  @include mobileL {
    width: 100%;
  }
}

.about-left__triangle {
  fill: $beige;
  width: 100%;
}

.about-left__title-block {
  text-align: center;
  width: 50%;
  position: relative;
  margin-top: -20px;

  @include laptopL {
    width: 100%;
    margin-bottom: 20px;
  }

  @include tablets {
    margin-top: 0;
  }
}

.about-left__title-svg {
  fill: rgba($green, .1);
  width: 360px;
  height: 120px;
}

.about-left__title {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 100%;

  &::after {
    margin-top: 10px;
  }
}

.about-left__content {
  width: 50%;
  padding-top: 20px;

  @include laptopL {
    width: 100%;
    padding-left: 10%;
    padding-top: 0;
  }

  @include tablets {
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.about-left__subtitle {
  margin-bottom: 30px;
  &::after {
    margin-top: 15px;
  }
 
}

.about-left__pic-wrap {
  width: 100%;
  margin-bottom: 20px;
}

.about-left__image {
  width: 100%;
}

.about-left__description-text p {
  margin-bottom: 15px;
}