.block-subtitle {
  @include webissimo;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 10px;
  }
}