.blog {
  min-height: 1190px;
  position: relative;
  background: $white;
  padding-top: 40px;
}

.blog__maincontent {
  &:after {
    content: '';
    display: block;
    height: 185px;
    background: $white;
    
    @include tablets {
      height: 275px;
    }

    @include mobileL {
      height: 355px;
    }
  }
}

.blog__container {
  display: flex;
}

.blog__aside-menu {
  width: 20%;
  text-align: right;
  margin-right: 10%;
  @include tablets {
    display: none;
  }
}

.blog__item {
  margin-bottom: 45px;
  &:last-child {
    margin-bottom: 0;
  }
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &:after {
    content: '';
    margin-left: 20px;
    height: 40px;
    min-width: 3px;
    background: $green;
    display: flex;
    opacity: 0;
  }
}

.blog__item--active {
  color: $green;
  &:after {
    content: '';
    opacity: 1;
  }
}

.blog__articles {
  width: 60%;

  @include tablets {
    width: 95%;
  }
}

