.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 50px;
  width: 4px;
  display: block;
  background-color: $white;

}

.close {
  position: absolute;
  top: 2%;
  right: 5.1%;
  cursor: pointer;
  &:before {
      transform: rotate(45deg);
  }

  &:after {
      transform: rotate(-45deg);
  }
}
