.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  border-radius: 5px;
  padding-top: 20px;

  @include tablets {
    padding-left: 25px;
  }
}

.contacts__title {
  padding-right: 20px;
  margin-bottom: 30px;
  &::after {
    margin-top: 17px;
  }
  @include tablets {
    margin-bottom: 15px;
  }
  
}

.contacts__item {
  display: flex;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    margin-bottom: 25px;
  }
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__icon-svg {
  width: 25px;
  height: 25px;
  fill: $darkgreen;
}