.copyright {
  @include mobileL {
    display: flex;
    justify-content: center;
    width: 82%;
  }
}

.copyright__list {
  display: flex;
  font-weight: 300;

  @include mobileL {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.copyright__item {
  display: flex;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  &::after {
    content: '|';
    display: block;
    margin-left: 10px;
  }
  &:last-child:after {
    display: none;
  }

  @include mobileL {
    flex-grow: 0.5;
    justify-content: center;
    margin-right: 0;
  }
}

.copyright__item--centered {
  @include mobileL {
    flex-grow: 1;
    text-align: center;
    margin-right: 0;
    &::after {
      display: none;
    }
  }
}