.copyright__list {
  display: flex;
}

.copyright__item {
  border-right: 1px solid white;
  padding: 0 5px;
  &:last-child {
    border: none;
    padding-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}