.error {
  position: absolute;
  padding: 5px 10px;
  background-color: #e44845;
  color: $white;
  border-radius: 5px;
  text-align: center;
  z-index: 120;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 11px;
    height: 11px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #e44845;
    z-index: 119;
  }
}