.feedback__content {
  background: url(./assets/images/background/review-bg.png) center / cover;
}

.feedback {
  background: #f4f5f0;
  padding-top: 20px;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:after {
    content: '';
    display: block;
    height: 185px;
  }

  @include tablets {
    &::after {
      height: 275px;
    }
  }

  @include mobileL {
    &:after {
      height: 355px;
    }
  }
}

.feedback__title {
  margin-bottom: 20px;
}

.feedback__arrow-up {
  margin-bottom: 70px;
}

.feedback__arrow-up-svg {
  width: 30px;
  height: 20px;
  fill: $white;
  &:hover {
    fill: $light-grey;
  }
}