.header {
  height: 100vh;

  @include tablets {
    height: 75vh;
  }

  @include mobileL {
    height: 100vh;
  }
}

.header__picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.header__img {
  height: 40%;

  @include tablets {
    height: 100%;
    width: 100%;
  }
}

.header__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.header__socials .socials__svg {
  fill: white;
}