.header {
  background: url(./assets/images/background/forest-bg.jpg);
  min-height: 670px;
}

.header__container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.header__socials .socials__svg {
  fill: white;
}