.map {
  background: url(./assets/images/background/map-bg.jpg);
  height: 100vh;
  position: relative;
}

.map__data {
  width: 380px;
  min-height: 315px;
  background-color: rgba($white, .85);
  position: absolute;
  top: calc(50vh - 185px/2);
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablets {
    top: calc(50vh - 275px/2);
  }
}

