.map {
  background: url(./assets/images/background/map-bg.jpg);
  min-height: 1115px;
  position: relative;
}

.map__data {
  width: 380px;
  min-height: 315px;
  background-color: rgba($white, .85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

