.message {
  width: 380px;
  height: 460px;
  background: rgba($white, 0.7);
  padding-top: 25px;
  border-radius: 5px;
  margin-bottom: 70px;
  overflow: hidden;
}

.message__title {
  margin-bottom: 10px;
  &::after {
    margin-top: 15px;
  }
}

.message__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.message__input {
  width: 340px;
  padding: 13px 20px;
  border: 0;
  border-radius: 22px;
  &::placeholder {
    color: $light-grey;
  }
  &:focus {
    outline: none;
    border: 2px solid $green;
  }
}

.message__textarea {
  @extend .message__input;
  height: 140px;
  resize: none;
  &:focus {
    outline: none;
    border: 2px solid $green;
  }
}

.message__input-wrap {
  position: relative;
}

.message__error {
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 380px;
  min-width: 250px;
}

.message__form-row {
  width: 100%;
}

.message__btn {
  width: 50%;
  height: 43px;
  color: white;
  background: $green;
  border-right: 1px solid #fff;
  &:last-child {
    border: 0;
  }
  &:hover {
    background: $darkgreen;
  }
}