.message {
  width: 380Px;
  height: 460Px;
  background: rgba($white, 0.7);
  padding-top: 25Px;
  border-radius: 5Px;
  margin-bottom: 70Px;
  overflow: hidden;
}

.message__title {
  margin-bottom: 10Px;
  &::after {
    margin-top: 15Px;
  }
}

.message__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.message__input {
  width: 340Px;
  padding: 13Px 20Px;
  border: 0;
  border-radius: 22Px;
  &::placeholder {
    color: $light-grey;
  }
  &:focus {
    outline: none;
    border: 2Px solid $green;
  }
}

.message__textarea {
  @extend .message__input;
  height: 140Px;
  resize: none;
  &:focus {
    outline: none;
    border: 2Px solid $green;
  }
}

.message__input-wrap {
  position: relative;
}

.message__error {
  bottom: -44Px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 380Px;
  min-width: 250Px;
}

.message__form-row {
  width: 100%;
}

.message__btn {
  width: 50%;
  height: 43Px;
  color: white;
  background: $green;
  border-right: 1Px solid #fff;
  &:last-child {
    border: 0;
  }
  &:hover {
    background: $darkgreen;
  }
}