.review {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  @include mobileL {
    align-items: center;
    flex-direction: column;
  }
}

.review__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:after {
    margin-top: 38px;
  }
}

.review__content {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: 50%;
  }

  @include mobileL {
    margin-right: 0;
  }
}

.review__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.review__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./assets/images/background/quotes.png') no-repeat left top;
}

.review__avatar img {
  width: 100%;
}

.review__blockquote strong {
  font-weight: 700;
  font-style: italic;
  color: $darkgreen;
}

.review__blockquote p {
  font-style: italic;
  color: $grey;
  margin-bottom: 25px;
}