.skills-row__list {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
    justify-content: center;
    width: 70%;
    min-width: 285px;
  }
}

.skills-row__item {
  width: 120px;
  height: 120px;
  margin-right: 55px;
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}