.slider {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;

  @include tablets {
    flex-wrap: nowrap;
  }
}

.slider__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 50%;
  height: 100%;
  background: $white;

  @include tablets {
    order: 2;
    width: 100%;
    height: 27.0935960591%;
    min-height: 170px;
  }
}

.slider__title {
  margin-bottom: 3%;
}

.slider__skills {
  display: block;
  color: $darkgreen;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3%;
}

.slider__info-btn-svg {
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 12px;
}

.slider__info-btn {
  width: 200px;
  height: 45px;
  background: $green;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $darkgreen;
  }
}

.slider__info-btn-text {
  font-weight: 500;
  color: white;
}

.slider__main {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  width: 50%;
  height: 70%;
  background: $beige;

  @include tablets {
    order: 1;
    height: 52.2167487685%;
    width: 100%;
  }
}

.slider__big-pic {
  width: 80%;
}

.slider__buttons {
  display: flex;
  order: 3;
  width: 50%;
  height: 30%;

  @include tablets {
    height: calc(100 - 52.2167487685 - 27.0935960591%);
    width: 100%;
  }
}

.slider__prev {
  &:before {
    background: rgba($light-grey, 0.4);
  }
  &:hover:before {
    background: rgba($light-grey, 0.7);
  }
}

.slider__prev-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 30px;
  fill: white;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slider__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.slider__pic-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__small-pic {
  width: 80%;
}

.slider__next {
  &:before {
    background: rgba($grey, 0.4);
  }
  &:hover:before {
    background: rgba($grey, 0.7);
  }
}

.slider__next-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 30px;
  fill: white;
}
