.slider {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;

  @include tablets {
    flex-wrap: nowrap;
  }
}

.slider__info {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 50%;
  height: 100%;
  background: $white;

  @include tablets {
    order: 2;
    width: 100%;
    height: 30.0935960591%;
    min-height: 170px;
  }
}

.slider__info-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 37%;
}

.slider__title {
  min-height: 80px;
  width: 60%;
  margin-bottom: 2.5%;

  @include tablets {
    font-size: 30px;
  }
}

.slider__skills-wrap {
  margin-bottom: 54px;
}

.slider__skills {
  display: block;
  color: $darkgreen;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0;
  min-height: 25px;
  text-align: center;

  span {
    font-size: 16px;
    display: inline-block;

    &.whitespace:after {
      content: "\00a0";
    }
  }
}

.slider__info-btn-svg {
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 12px;
}

.slider__info-btn {
  width: 200px;
  height: 45px;
  background: $green;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $darkgreen;
  }
}

.slider__info-btn-text {
  font-weight: 500;
  color: white;
}

.slider__display {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  order: 2;
  width: 50%;
  height: 70%;
  background: $beige;

  @include tablets {
    order: 1;
    height: 50.2167487685%;
    width: 100%;
  }
}

.slider__big-pic {
  max-width: 80%;
  max-height: 90%;

  @include tablets {
    width: 60%;
  }
}

.slider__buttons {
  display: flex;
  order: 3;
  width: 50%;
  height: 30%;

  @include tablets {
    height: calc(100% - 50.2167487685% - 30.0935960591%);
    width: 100%;
  }
}

.slider__prev {
  &:before {
    background: rgba($light-grey, 0.4);
  }
  &:hover:before {
    background: rgba($light-grey, 0.7);
  }
}

.slider__prev-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 30px;
  fill: white;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.slider__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 150;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.slider__pic-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__small-pic {
  max-width: 40%;
  max-height: 90%;

  @include tablets {
    max-width: 40%;
  }
}

.slider__next {
  &:before {
    background: rgba($grey, 0.4);
  }
  &:hover:before {
    background: rgba($grey, 0.7);
  }
}

.slider__next-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 30px;
  fill: white;
}

.slide-prev-enter-active {
  animation: zoomOutUp 0.4s reverse;
}

.slide-prev-leave-active {
  animation: zoomOutDown 0.4s;
}

.slide-next-enter-active {
  animation: zoomOutDown 0.4s reverse;
}

.slide-next-leave-active {
  animation: zoomOutUp 0.4s;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.display-leave-active {
  animation: bounceOut 0.4s;
}

.display-enter-active {
  animation: bounceIn 0.4s;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.title-leave-active {
  animation: flipOutX 0.4s;
}

.title-enter-active {
  animation: flipInX 0.4s;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.animated-flip {
  animation: anim-flip 0.8s;
}

@keyframes anim-flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
    opacity: 0;
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}
