.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 25px;

  @include laptopL {
    margin-right: 35px;
  }
}

.socials__svg {
  width: 26Px;
  height: 23Px;
  fill: rgba(#fff, .5);
  &:hover {
      fill: $green;
  }
  
}

.socials--footer .socials__svg {
  &:hover {
    fill: $white;
  }
}