.triangle {
  height: 160px;
  position: absolute;
  top: -160px;
   
  @include laptopL {
    height: 110px;
    top: -110px;
  }

  @include tablets {
    height: 60px;
    top: -60px;
  }

  @include mobileL {
    height: 40px;
    top: -40px;
  }
}

.triangle--twoside {
  fill: $white;
  width: 50%;
}

.triangle--left {
  left: 0;
}

.triangle--right {
  right: 0;
}