.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 300px;

  @include laptopL {
    width: 350px;
  }
}

.user__avatar {
  margin-bottom: 15px;

  @include tablets {
    margin-bottom: 35px;
  }
}

.user__pic-wrap {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  // @include laptopL {
  //   width: 140px;
  //   height: 140px;
  // }


}

.user__img {
  width: 232px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.user__title {
  @include roboto;
  font-weight: 500;
  font-size: 28px;

  @include laptopL {
    
    font-size: 32px;
  }
}

.user__text {
  @include roboto;
  font-weight: 400;
  color: #babdbc;
  
}

.user__blog-text {
  @include roboto;
  font-weight: 400;
  color: #babdbc;
  
}

.user__blog-title {
  &:after {
    background: #fff;
  }
  margin-bottom: 35px;


  @include mobileL {
    font-size: 40px;
  }
}