.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.user__pic-wrap {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.user__img {
  width: 232px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.user__title {
  @include roboto;
  font-weight: 500;
  font-size: 28px;
}

.user__text {
  @include roboto;
  font-weight: 400;
  color: #babdbc;
}

.user__blog-title {
  &:after {
    background: #fff;
  }
  margin-bottom: 35px;
}