#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.welcome-page {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.6%;
  padding-right: 5.5%;
  padding-bottom: 4.4%;

  @include tablets {
    padding-left: 5.5%;
  }

  @include mobileL {
    padding-left: 0;
    padding-right: 0;
  }
}

.welcome__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.welcome-page__content {
  width: 380px;
  height: 395px;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
}

.welcome-page__user {
  background-color: rgba(#122620, .6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 380px;
  height: 395px;
  padding-top: 40px;
}

.welcome-page__socials {
  display: flex;
  justify-content: center;
}

.welcome-page__auth {
  @extend .welcome-page__user;
  padding-top: 40px;
}

.welcome-page__auth-title {
  height: 30%;
  &:after {
    background: $white;
  }
}

.welcome-page__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 44px;
}

.auth-btn {
  border-radius: 22px;
  border: 2px solid #fff;
  overflow: hidden;
  &:hover {
    background-color: $darkgreen;
    border-color: $green;
  }

  @include mobileL {
    align-self: center;
  }
}

.auth-btn__link {
  padding: 9px 27px;
  text-align: center;
  display: block;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}