.works {
  position: relative;
  background: #f8f9f5;
}

.works__content {
  padding-top: 18px;
}

.works__triangle {
  fill: #f8f9f5;
}

.works__title-block {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}

.works__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:after {
    margin-top: 10px;
  }
}

.works__title-svg {
  fill: rgba(#93c42e, 0.1);
  width: 500px;
  height: 160px;
}


.review__title {
  width: 350px;
  line-height: 1;
}